body{
    background: linear-gradient(141deg, #12A4FF 0%, #fff 100%);
    margin: 0px;
    height: 100%;
    background-repeat:  no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
}
img{
    height: 150px;
    width: 150px;
    margin: 20px;
}
.images{
    margin: 20px;
}
/* Add a black background color to the top navigation */
.topnav {
background-color: #0C72B3;
overflow: hidden;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: gray;
color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: rgb(168, 168, 168);
color: rgb(39, 38, 38);
}